recycling-details {
  #detail-container{
    white-space: pre-line !important;
    border: 0px !important;
    img{
      max-height: 30vh !important;
      width: auto !important;
      margin: auto !important;
    }
  }
  ion-grid{
    height: 100%;
    #image-row{
      height: 30%;
    }
    white-space: pre-line !important;
  }
}
